/.idea/
/app/config/parameters.yml
/build/
/phpunit.xml
/generates/
/src/Glavweb/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/*
!/web/uploads/.gitkeep
!/web/uploads/content/
/web/uploads/content/*
!/web/uploads/content/.gitkeep
!/web/uploads/images/
/web/uploads/images/*
!/web/uploads/images/.gitkeep
!/web/uploads/users/
/web/uploads/users/*
!/web/uploads/users/.gitkeep
/web/media/
/composer.phar
